@import "tailwindcss";

/* @custom-variant dark (&:where(.dark, .dark *)); */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .habits-page,
    .weekly-container,
    .statistics-container,
    .dashboard-container,
    .insights-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .weekly-completion-card p {
        text-wrap: nowrap;
        gap: 0.25rem;
    }
    .weekly-completion-card h2 {
        font-size: 1.5rem;
        margin-top: 0.5rem;
    }
    .weekly-completion-card .weekly-completion-card__details {
        font-size: 1rem;
        margin-top: 0.2rem;
    }

    .weekly-completion-rate-card p {
        text-wrap: nowrap;
        gap: 0rem;
    }
    .weekly-completion-rate-card h2 {
        font-size: 1.5rem;
        margin-top: 0.5rem;
    }
    .weekly-completion-rate-card .weekly-completion-rate-card__details {
        font-size: 1rem;
        margin-top: 0.2rem;
    }

    .weekly-best-day-card p {
        text-wrap: nowrap;
        gap: 0.25rem;
    }
    .weekly-best-day-card h2 {
        font-size: 1.5rem;
        margin-top: 0.5rem;
    }
    .weekly-best-day-card .weekly-best-day-card__details {
        font-size: 1rem;
        margin-top: 0.2rem;
    }

    .weekly-top-habit-card p {
        text-wrap: nowrap;
        gap: 0.25rem;
    }
    .weekly-top-habit-card h2 {
        font-size: 1.5rem;
        margin-top: 0.25rem;
    }
    .weekly-top-habit-card .weekly-top-habit-card__details {
        font-size: 1rem;
        margin-top: 0.2rem;
    }

    .insight-last-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    .habits-page,
    .weekly-container,
    .statistics-container,
    .dashboard-container,
    .insights-container {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-left: 15rem;
    }

    /* Dashboard */
    .dashboard-greeting h1 {
        font-size: 2rem;
    }
    .dashboard-actions button {
        font-size: 0.875rem;
    }
    .dashboard-container .stats-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    /* Habit */

    .habits-header-content h1 {
        font-size: 2rem;
    }
    .habits-header-content h3 {
        font-size: 0.875rem;
    }

    .habits-header-actions button {
        font-size: 0.875rem;
        text-wrap: nowrap;
    }

    .habit-status-toggle,
    .habit-category-filter,
    .habit-search-input {
        font-size: 0.75rem;
    }

    .habits-list {
        padding: 0;
    }

    .habit-card {
        height: 75px;
        margin: 5px 0;
    }
    .habit-category {
        font-size: 12px;
    }
    .habit-title {
        width: 4rem;
    }
    .habit-description {
        font-size: 12px;
        background-color: #f0f0f0;
        width: 8rem;
    }
    .habit-info {
        gap: 0.25rem;
    }

    .habit-streak,
    .habit-best-streak,
    .habit-delete-btn {
        font-size: 12px;
        height: 30px;
        width: 30px;
    }

    .habit-archive-btn {
        height: 25px;
        width: 25px;
    }

    /* NavBar */

    .sidebar-brand {
        width: 15rem;
    }

    /*Weekly  */
    .weekly-stats-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .weekly-completion-card p,
    .weekly-completion-rate-card p,
    .weekly-best-day-card p,
    .weekly-top-habit-card p {
        gap: 0.5rem;
    }

    /* Insights */

    .statistics-grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .statistics-best-streak-title,
    .statistics-longest-ever-title,
    .statistics-needs-attention-title {
        font-size: 0.875rem;
    }

    .statistics-best-streak-details,
    .statistics-longest-ever-details,
    .statistics-needs-attention-details {
        font-size: 1.15rem;
    }
}

@media screen and (max-width: 425px) {
    .habits-page,
    .weekly-container,
    .statistics-container,
    .dashboard-container,
    .insights-container {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-left: 0rem;
    }

    /* Dashboard */

    .dashboard-greeting h1 {
        font-size: 1.5rem;
    }
    .dashboard-actions button {
        font-size: 0.75rem;
    }
    .dashboard-container .stats-grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .habit-card {
        margin: 0.25rem 0;
        overflow: hidden;
    }

    .habit-info-section {
        gap: 0.5rem;
    }

    .habit-header h1 {
        font-size: 1rem;
    }
    .habit-details p {
        font-size: 0.75rem;
    }
    .habit-actions {
        gap: 0.5rem;
    }

    .habit-streak{
        font-size: 0.75rem;
        height: 25px;
        width: 25px;
    }

    .habit-complete-btn{
        height: 35px;
        width: 35px;
    }
    .threeDotBtn{
        height: 25px;
        width: 25px;
    }

    /* NAVBAR */

    .sidebar-brand {
        /* width: 12rem; */

        display: none;
    }
}
